API_ID=84728709
API_HASH=8de265195ee64a0cb9c9a45a42e06405
DATA_DIR=/app/data
SESSION_NAME=Digest
DB_FILE=db.sqlite3
SOURCE_CHANNELS=channel1,channel2
SOURCE_FOLDER=Digest
DESTINATION_CHANNEL=-1000000000000
CHUNK_SIZE=50
DELAY_MIN=2.0
DELAY_MAX=5.0
TZ=Europe/Amsterdam
CRON_SCHEDULE=0 9,18 * * *
